<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/favicon16x16.png">
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://mdornseif.myopenid.com/">
    <title>{{ page.title }}</title>
    <meta name="author" content="Maximillian Dornseif" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>

<div class="site">

    <h1>
      Maximillian Dornseif - Homepage
    </h1>

    <img src="md-wackeldackel.jpeg" align=right width=279 height=190>

    <p>"If we knew what it was we were doing, it would not be called
    research, would it?" - Albert Einstein</p>


  <div class="title">
    <a href="/">Tom Preston-Werner</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Tom Preston-Werner<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        tom@mojombo.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mojombo/">github.com/mojombo</a><br />
        <a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />
        <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/mdornseif"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>


<html>
  <head>
  </head>
  <body>
<!--
    <p class=info>If you are concerned about SMTP-activity by this host, click <a href="surveys.html">here</a>.</p>
    <p class=info>Suchen die die <a
	href="http://www.hudora.de/">HUDORA GmbH</a>? <a
	href="http://www.hudora.de/">Hier</a> lang!</p>
-->


    <!-- ><h2>New</h2>
    <ul>
      <li>
        Ein halbes Duzend neue Vorträge sind nun <a href="presentations/">online</a>.
      </li>
    </ul>-->

    <h2>Sections</h2>
    <ul>
      <li>
        <a href="me.html">About me / Kontakt</a>
      </li>
      <li>
        <a href="presentations/">Presentations &amp; Teaching / Vorträge</a>
      </li>
      <li>
        <a href="publications/">Publications /  Veröffentlichungen</a>
      </li>
      <li>
        <a href="http://www.hudora.de/">HUDORA GmbH</a>, my company
      </li>
      <!--<li>
        <a href="students/">My Students</a>
      </li>
      <li>
        <a href="nda.html">NDAs / conflicts of interest</a>
      </li>-->
      <li>
        Weblog: 
        <a href="http://blogs.23.nu/disLEXia/">english</a>,
        <a href="http://blogs.23.nu/disLEXiaDE/">german</a>,
        <a href="http://blogs.23.nu/c0re/">1337</a>
      </li>
      <li>
        <a href="stats/">Computer Crime Statistics</a>
      </li>	
      <li>a
        <a href="jura/">Law and Criminal Justice / juristisches</a>
      </li>
      <li>
        The <a href="http://pi1.informatik.uni-mannheim.de/">Laboratory
        for Dependable Distributed Systems, University of
        Mannheim</a> and <a
        href="http://www.jura.uni-bonn.de/">University of Bonn
        Lawschool</a>, my academic affiliations
      </li>
      <li>
         Coding: <a href="http://www.hudora.de/code/">current</a>, 
                 <a href="http://c0re.23.nu/c0de/misc/">older</a>, 
                 <a href="http://c0re.23.nu/">even older</a>, 
                 <a href="http://svn.23.nu/viewcvs/?root=repos">very old</a> and 
                 <a href="perl/">embarassing</a>
                 <br/>
                 <a href="c0de/zipdecodeDE">zipdecode.de</a> is an interactive map of postal codes in Germany.
                 </li>
	<!-- <li>
        <a href="porno-post.html">Ein Plädoyer für eine stärkere
        Überwachung der gelben Post</a>.
      </li>
      <li>
        <a href="vernetzteuch.html">Vernetzt Euch! (historisch)</a>
      </li> -->
    </ul>


    <p class="footer">
    <address>
      <a href="mailto:md@hudora.de">Maximillian Dornseif (email)</a>
    </address><!-- Created: Thu Aug 19 21:17:05 CEST 1997 -->
<!-- hhmts start -->
Last modified: Mon 30 Jun 2008 07:47:54 CEST
<!-- hhmts end -->
     <br>
    <small>Common Misspelling of my name for search-engine
    consumption:<br>"Maximilian Dornseif" ist falsch geschrieben, es
    fehlt das doppel-L und "Max Dornseif" ist auch falsch.</small>
  </p>  
</body>
</html>
