<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="images/favicon16x16.png">
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://mdornseif.myopenid.com/">
    <title>{{ page.title }}</title>
    <meta name="author" content="Maximillian Dornseif" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">Maximillian Dornseif</a>
        <a class="extra" href="/">home</a>
      </div>
      
      <img style="display: block; margin-left: auto; margin-right: auto" src="images/md-wackeldackel.jpeg">
      
      <div style="clear: both; margin: 2em">&nbsp;</div>
      
      {{ content }}
      
      <div class="footer">
        <div class="contact">
          <p>
              Maximillian Dornseif
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="http://github.com/mdornseif/">github.com/mdornseif</a>
          </p>
        </div>
      </div>
    </div>
</body>
</html>
